<div class="container mt-4">
  <h2>Add Review</h2>
  <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="user">User</label>
      <input
        type="text"
        class="form-control"
        id="user"
        formControlName="user"
        placeholder="Enter your name"
      />
      <div
        *ngIf="
          reviewForm.get('user')?.invalid && reviewForm.get('user')?.touched
        "
        class="text-danger"
      >
        User name is required.
      </div>
    </div>
    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea
        class="form-control"
        id="comment"
        formControlName="comment"
        placeholder="Enter your review"
      ></textarea>
      <div
        *ngIf="
          reviewForm.get('comment')?.invalid &&
          reviewForm.get('comment')?.touched
        "
        class="text-danger"
      >
        Comment is required.
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-primary mt-3"
      [disabled]="reviewForm.invalid"
    >
      Submit Review
    </button>
  </form>
</div>
